@font-face {
  font-family: 'Chicago';
  src: url('third-party/chicagoflf.woff2') format('woff2');
}

body {
  height: 100vh;
  margin: 0;

  font: 1.2em 'Chicago', sans-serif;
}

main {
  padding: 15vh 15vw;
}

.window {
  border: 2px solid;
}

.window-titlebar {
  text-align: center;
  border-bottom: 2px solid;
  padding: 6px 0;
}

.window-titlebar__stripes {
  background: linear-gradient(to bottom,
    white calc(50% - 1px),
    black 50% calc(50% + 1px),
    white calc(50% + 1px)
  );
  background-size: 6px 4px;
}

.window-titlebar__stripes__title {
  display: inline-block;
  padding: 0 12px;
  background: #fff;
}

.window-content {
  padding: 24px;
  border: 3px solid black;
  margin: 1px;
}
