@font-face {
  font-family: 'Chicago';
  src: url('third-party/chicagoflf.woff2') format('woff2');
}

body {
  height: 100vh;
  margin: 0;
  display: flex;

  font: 1.25em 'Chicago', sans-serif;

  /* Created using http://www.patternify.com */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAFUlEQVQYlWNgGBwgISHh/yBQPIgAAKa/Bl4ztVlWAAAAAElFTkSuQmCC) repeat;
}

main {
  padding: 15vh 15vw;
  margin: auto;
}

.window {
  border: 2px solid;
  background: white;

  max-width: 680px;
}

.window-titlebar {
  text-align: center;
  border-bottom: 2px solid;
  padding: 8px 0;
  line-height: 28px;
}

.window-titlebar__stripes {
  background: linear-gradient(to bottom,
    white calc(50% - 1px),
    black 50% calc(50% + 1px),
    white calc(50% + 1px)
  );
  background-size: 6px 4px;
}

.window-titlebar__stripes__title {
  display: inline-block;
  padding: 0 12px;
  background: #fff;
}

.window-content {
  padding: 32px;
  border: 3px solid black;
  margin: 1px;
}
